@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    color: #353535;
    font-family: sans-serif;
}

#navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px; 
}

#logo {
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}

.active {
    color: #0ba879;
}
  
li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: #0ba879;
}

.container {
    align-items: center;
    padding: 100px 250px;
    /*border: 1px solid #ddd;*/
}

.container-about {
    align-items: center;
    padding: 50px 200px;
    /*border: 1px solid #ddd;*/
}

.about-text {
    padding: 10px 0;
}

.about-text img {
    border-radius: 100%;
    width: 140px;
}

#myport {
    width: 150px;
    padding: 10px 0;
    background-color: #353535;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: medium;
}

#myport:hover {
    background-color: #111;
    cursor: pointer;
}

.container-content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

#home-btn {
    color: #353535;
}

#home-btn:hover {
    color: #0ba879;
    text-decoration: underline;
}

#content-text {
    flex: 1;
    text-align: justify;
    line-height: 1.5;
}

.tools-logo img {
    height: 50px;
    margin: 5px;
}

.tools-logo-home img {
    height: 100px;
    margin: 7px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 230px;
    background-color: #ecfff9;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px;
    float: left;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}

.card a{
    color: #353535;
    text-decoration: none;
}

.card:hover {
    box-shadow: 10px 10px #0ba879;
}

footer {
    background-color: #0ba879;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;

}

/* FORM CONTACT */

form {
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical; /* Memungkinkan pengguna mengubah tinggi textarea */
}

input:valid,
textarea:valid {
    border: 1px solid #0ba879;
}
