@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: sans-serif;
}

#navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Untuk mengatur jarak antara logo dan menu */
    align-items: center; /* Untuk mengatur vertikal logo dan menu */
    padding: 20px 150px; /* Untuk memberikan ruang di sekitar elemen-elemen navbar */
}

#logo {
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}

.active {
    color: #0ba879;
}
  
li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: #0ba879;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px 150px;
    /*border: 1px solid #ddd;*/
}

.container-about {
    align-items: center;
    padding: 50px 200px;
    /*border: 1px solid #ddd;*/
}

.about-text {
    padding: 10px 0;
}

.about-text h2 {
    color: #0ba879;
}

.container img {
    width: 400px; /* Lebar gambar */
    height: auto; /* Mengikuti proporsi asli gambar */
    margin-right: 50px; /* Jarak antara gambar dan teks */
}

#content-text {
    flex: 1;
    color: #0ba879;
}

footer {
    background-color: #0ba879;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}